* {
    margin: auto;
    padding: 0;
}

html, body {
    max-width: 960px;
    height: 100%;
}

body{
    display: flex;
    width: 100%;
    background-color: rgb(219, 158, 136);
}

#main-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
}

/*************
** Defaults **
**************/

/***************
** Upper Half **
****************/
#site-upper-half {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

#background-img {
    max-width: 100%;
    height: 600px;
    top: 0px;
    left: 0px;
}

#pet_sprite {
    position: absolute;
    width: 35%;
    margin-top: 25%
}

/***************
** Lower Half **
****************/

#site-lower-half {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    width: 100%;
    height: 100%;

    /* also display as a grid, to line up the bars and buttons */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


#status-container {
    /* Also display as a grid to order the bars around */
    height: 50%;
    width: 90%;
    /*parent site lower half */
    grid-row: 1 / 2;
    grid-column: 1;
    display: flex;
}

/****************
**Status Labels**
*****************/

ul {
    list-style: none;
    padding-left: 0px;
}


#label-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#label-container li {
    font-family: 'Varela Round', 'sans-serif';
    margin-left: 0px;
}

/**************
**Status Bars**
***************/

#bar-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: space-around;
}

#bar-container li {
    width: 100%;
    padding-left: 20px;
}

/*the outside*/
progress[value] {
    width: 100%;
    display: block; /* default: inline-block */
    padding: 3px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
  }

/*the inside */
  progress[value]::-moz-progress-bar {
    border-radius: 12px;
    background: orange;
  }

 


/************
** Buttons **
*************/
#button-container {
  height: 100%;
  width: 100%;
  /*parent site lower half */
  grid-row: 2 / 2;
  grid-column: 1;
  display: flex;
  align-self: flex-end;
  
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#btn-feed{
    background: url("../images/simplepet_btn_food_spritesheet.svg") no-repeat;
    /*background-position: 0px 0px;*/
    background-position: 0% 0;
    width: 128px;
    height: 128px;
}

#btn-feed:hover {
    /*background-position: -128px 0px;*/
    background-position: 50% 0;
}

#btn-feed:active {
    background-position: 100% 0px;
}

#btn-play{
    background: url("../images/simplepet_btn_play_spritesheet.svg") no-repeat;
    /*background-position: 0px 0px;*/
    background-position: 0% 0;
    width: 128px;
    height: 128px;
}

#btn-play:hover {
    /*background-position: -128px 0px;*/
    background-position: 50% 0;
}

#btn-play:active {
    background-position: 100% 0px;
}

#btn-spray{
    background: url("../images/simplepet_btn_disipline_spritesheet.svg") no-repeat;
    /*background-position: 0px 0px;*/
    background-position: 0% 0;
    width: 128px;
    height: 128px;
}

#btn-spray:hover {
    /*background-position: -128px 0px;*/
    background-position: 50% 0;
}

#btn-spray:active {
    background-position: 100% 0px;
}


/*****************
** Media Queries**
******************/

/* Mobile Query */
@media screen and (min-width: 375px) {
    #main-container {
        width: 100%;
        height: 100%;
        grid-template-rows: 234px 1fr;
    }

    #site-upper-half {
        justify-content: center;
        align-content: flex-start;
    }

    #site-lower-half {
        height: 100%;
        width: 100%;
    }

    #background-img {
       width: 100%;
       height: 234px;
       margin: 0px;
    
    }
    /*status label and container */
    #bar-container :not(:first-child) {
        padding-top: 10px;
    }

    #label-container :not(:first-child){
        padding-top: 15px;
    }

    #bar-container li {
        width: 90%;
    }

    /*buttons*/
    #button-container {
        width: 100%;
    }
    #buttons {
        margin-bottom: 0px;
        display: inline-flex;
        justify-content: flex-start;
    }
    #btn-feed, #btn-play, #btn-spray {
        transform: scale(.8);
        align-self: flex-end;
    }

}

/* Large Screen Query */
@media (min-width: 600px){
    #main-container {
        width: 960px;
        height: 100%;
        grid-template-rows: 600px 1fr;
    }
    #background-img {
        height: 600px;
    }

    #buttons {
        width: 100%;
        justify-content: Center;
    }

    #btn-feed, #btn-play, #btn-spray {
        transform: scale(1.25);
        padding-bottom: 2%;
    }
    #bar-container li {
        width: 95%;
       
    }  
}