* {
    margin: auto;
    padding: 0;
}
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}
copypasta {
    border-image:
    url("../images/simplepet_border_hatch.svg")  /* source */
    12/                    /* slice */
    20px 20px 20px 20px /    /* width */
    12px 12px 50px 12px       /* outset */
    round;                  /* repeat */

    /*valeria round*/
    font-family: 'Varela Round', sans-serif;
}

body {
   
    background-color: pink;   
}

#main-container {
    /*background-color: blue; */
    max-width: 960px;
}

@media screen and (max-width: 375px) {
    #main-container {
        width: 375px;
    }
}


#site-lower-half {
    border-image:
    url("../images/simplepet_border_circle_n_lines.svg")  /* source */
    30/                    /* slice */
    30px 30px 30px 30px /    /* width */
    18px 0px 18px 0px       /* outset */
    round;                  /* repeat */
    height: 100%;
    width: 100%;
    margin-top: 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#background-lg {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 0;
    left: 0;
}

#background-img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}



@media screen and (min-width: 375px) {
    #pet_sprite {
        position: absolute;
        /*
        top: 238px;
        left: 322px;*/
        width: 35%;
        margin-top: 25%;
    }
}

@media screen and (min-width: 960px) {
    #pet_sprite {
        position: absolute;
        /*
        top: 238px;
        left: 322px;*/
        width: 35%;
        margin-top: 25%;
    }
}


#button-container {
    /*background-color: lavenderblush;*/
    margin: 0px;
    height:100%;
    grid-column: 1;
    grid-row: 2/2;
}
/* Flex box on ul, put the flex on the ul/ul id then make the li elements display inline block */
#buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#buttons li {
    display: inline-block;
    /*height: 128px;
    width: 128px;*/
    height: 100%;
    width: 100%;
}

#btn-feed{
    background: url("../images/simplepet_btn_food_spritesheet.svg") no-repeat;
    /*background-position: 0px 0px;*/
    background-size: 300%;
    display: block;
    background-position: 0 0;
    max-width: 128px;
}

#btn-feed:hover {
    /*background-position: -128px 0px;*/
    background-position: 50% 0;
}

#btn-feed:active {
    /*background-position: -256px 0px;*/
    background-position: 100% 0;
}

#btn-disipline {
    background: url("../images/simplepet_btn_disipline_spritesheet.svg") no-repeat;
    background-size: 300%;
    max-width: 128px;
    background-position: 0 0;
}

#btn-disipline:hover {
    background-position: 50% 0;
}

#btn-disipline:active {
    background-position: 100% 0;
}

#btn-play {
    background: url("../images/simplepet_btn_play_spritesheet.svg") no-repeat;
    background-size: 300%;
    background-position:0 0;
    max-width: 128px;
}

#btn-play:hover {
    background-position: 50% 0;
}

#btn-play:active {
    background-position: 100% 0;
}

#status-container {
    display: grid;
    max-width: 960px;
    width:90%;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 12;
    grid-template-columns: 20% 80%;
    height: 50%;
   /* background-color: lightcoral;*/
   grid-row: 1/2;
   grid-column: 1;
}

#status-container li{
    margin-top: 4px;
    margin-bottom: 4px;
}

ul{
    list-style: none;
    padding-left: 0px;
}

#label-container {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    
}

#label-container li {
    width: 100px;
    font-family: 'Varela Round', sans-serif;
}

#bar-container{
    grid-column: 2/3;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  
}
/*spent way too long trying to figure out why my styling wasn't working (flex end)
  it was because margin or padding was on auto e.e */
.bar{
    width: 100%;
    margin: 0px;
    padding-right: 20px;
}


progress[value]{
    appearance: none;
    border: 3px solid black;
	background-color: whiteSmoke;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

	/* Dimensions should be similar to the parent progress element. */
	width: 100%; height:20px;
}

progress[value]::-moz-progress-bar {
    background:
    linear-gradient(to bottom, 
                        rgba(255, 255, 255, .3),
                        rgba(0, 0, 0, .25)
    ),
    linear-gradient(to right, red, orange 20%);
	border-radius:2px;
}